<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>@ViewData["Title"] - MQTT Parcel Tracker</title>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="description" content="MQTT Parcels Tracker application">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#13A4ED">
        <!-- Open Graph -->
        <meta name="og:image" content="./logo.png">
        <!-- Links -->
        <link rel="icon" href="./logo.png">
        <link rel="apple-touch-icon" href="./logo.png">
        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <link rel="stylesheet" type="text/css" href="./css/animations.css">
        <link rel="stylesheet" type="text/css" href="./css/cookie.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">
        <link rel="manifest" href="./manifest.json">
        <script type="text/javascript" src="./js/cookie.js" defer></script>
        <script type="text/javascript" src="./js/main.js" defer></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", false)
    </head>
    <body>
        <header>
            <h1>MQTT Parcel Tracker</h1>

            <ol class="flex-row">
                <li>Tracks: </li>
                <li class="underline"><a href="/Postman" target="_self">Arduino Packages</a></li>
            </ol>

            <article id="search-bar" class="flex-row">
                <input id="parcel-search-bar" class="underline gradient hover" type="search" placeholder="Enter tracking number">
                <input type="button" value="&#x1F50D;" onclick="searchIconPressed()">
            </article>
        </header>

        <article id="cookie-banner" class="cookie-item">
            <!-- Cookie Header -->
            <header class="cookie-item header">
                <h2 class="cookie-item">
                    <img class="cookie-item" src="./logo.png" alt="Logo" title="Logo">Cookie Notice
                    <img class="cookie-item rotating" src="./img/cookie.svg" alt="Cookie" title="Cookie">
                </h2>
            </header>
            <!-- Cookie content -->
            <section class="cookie-item content">
                <h3 class="cookie-item">Notice</h3>
                <p class="cookie-item">I use cookies and, or similar technologies as specified in the <a class="cookie-item underline" title="Learn more about cookies &amp; how I use them" href="/#get-fuckt">cookie policy</a>.</p>
                <p class="cookie-item">You can reject or accept the use of such technologies, by clicking the 'Reject' or 'Accept' button.</p>
                <p class="cookie-item">Interacting with the website in any other way will automatically accept cookies.</p>
                <p class="cookie-item">Cookie preferences will be saved for a year (365 days).</p>
            </section>
            <!-- Cookie actions -->
            <section class="cookie-item action">
                <a id="cookie-learn-more" class="cookie-item" title="Learn more about cookies &amp; how I use them" href="/#get-fuckt">Learn more</a>
                <span class="cookie-item btn-group">
                    <button id="cookie-btn-reject" class="cookie-item" title="Reject cookies for a year. This will not allow cookies to be saved to your local device" type="button">
                        Reject
                    </button>
                    <button id="cookie-btn-accept" class="cookie-item" title="Accept cookies for a year. This will allow cookies to be saved to your local device" type="button">
                        Accept
                    </button>
                </span>
            </section>
        </article>

        <main>
        @RenderBody()
        </main>

        <footer>
            <h2>&copy; 2024 - 2024 <a href="/" target="_self">Marcus, Casper & Jesper Co.</a>, All Rights Reserved.</h2>
        </footer>

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register('sw.js', { scope: './' })
                        .then(res => console.log("service worker registered"))
                        .catch(err => console.log("service worker not registered", err));
                });
            }
        </script>
    </body>
</html>