@model string
@{
    ViewData["Title"] = "Home Page";
}

<article class="tracking container flex-row">
    <section class="flex-col">
        <small>Parcel is at sorting facility</small>
        <img class="invert small-icon" src="./img/postman_icon.svg" alt="postman icon">
    </section>
</article>

<div id="payload-container">
    @ViewBag.Payload
</div>

@section Scripts {
    <script>
        function updatePayload() {
            fetch('/Home/GetPayload')
                .then(response => response.text())
                .then(payload => {
                    document.getElementById("payload-container").innerText = payload;
                });
        }

        // Update payload every 5 seconds
        setInterval(updatePayload, 5000);
        // Initial update
        updatePayload();
    </script>
}